html {
  font-size: 14px;
}
body {
  padding-top: 40px;
}

#progress-bar {
  background-color: #008abe;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fafafa;
  border-top: 1px solid #dedede;
}
